In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import os

#Data Importation

In [ ]:
os.chdir('/content/drive/MyDrive/Crimes Detection/NY_crimes/')
data = pd.read_csv('NYPD_Complaint_Data_Historic.csv')
data.head()

In [ ]:
data.drop(['CMPLNT_NUM','STATION_NAME','TRANSIT_DISTRICT','SUSP_AGE_GROUP','HOUSING_PSA','HADEVELOPT','LOC_OF_OCCUR_DESC','PARKS_NM','CMPLNT_TO_DT','CMPLNT_TO_TM','Lat_Lon','RPT_DT','SUSP_SEX','SUSP_RACE','Y_COORD_CD','X_COORD_CD','JURIS_DESC','LAW_CAT_CD'],axis=1,inplace= True)

In [ ]:
data.dropna(axis=0, how='all',inplace = True)

In [ ]:
for i in data.columns:
  print(i,data[i].isnull().sum())

CMPLNT_FR_DT 655
CMPLNT_FR_TM 48
ADDR_PCT_CD 2166
KY_CD 0
OFNS_DESC 18825
PD_CD 5865
PD_DESC 5865
CRM_ATPT_CPTD_CD 7
BORO_NM 10894
PREM_TYP_DESC 39732
JURISDICTION_CODE 5865
Latitude 24064
Longitude 24064
PATROL_BORO 6322
VIC_AGE_GROUP 1638444
VIC_RACE 308
VIC_SEX 307

In [ ]:
data.shape

(6983207, 17)

In [ ]:
data.dropna(axis=0,how='any',inplace=True)

In [ ]:
data.shape

(5288940, 17)

In [ ]:
for i in data.columns:
  print(i,data[i].isnull().sum())

CMPLNT_FR_DT 0
CMPLNT_FR_TM 0
ADDR_PCT_CD 0
KY_CD 0
OFNS_DESC 0
PD_CD 0
PD_DESC 0
CRM_ATPT_CPTD_CD 0
BORO_NM 0
PREM_TYP_DESC 0
JURISDICTION_CODE 0
Latitude 0
Longitude 0
PATROL_BORO 0
VIC_AGE_GROUP 0
VIC_RACE 0
VIC_SEX 0

In [ ]:
data.shape[0]

5288940

In [ ]:
from collections import Counter
nbr_classes = Counter(data.OFNS_DESC)
for i,j in nbr_classes.items():
  print(i,':',j)

ASSAULT 3 & RELATED OFFENSES : 697294
GRAND LARCENY : 528252
PETIT LARCENY : 837178
HARRASSMENT 2 : 836358
SEX CRIMES : 78734
DANGEROUS WEAPONS : 45404
BURGLARY : 180126
CRIMINAL MISCHIEF & RELATED OF : 515234
INTOXICATED & IMPAIRED DRIVING : 25624
OFF. AGNST PUB ORD SENSBLTY & : 342815
FELONY ASSAULT : 242925
MISCELLANEOUS PENAL LAW : 128117
OFFENSES AGAINST PUBLIC ADMINI : 78220
VEHICLE AND TRAFFIC LAWS : 65601
CRIMINAL TRESPASS : 26297
GRAND LARCENY OF MOTOR VEHICLE : 110833
DANGEROUS DRUGS : 81052
OTHER OFFENSES RELATED TO THEF : 10954
THEFT-FRAUD : 67836
ROBBERY : 229213
UNAUTHORIZED USE OF A VEHICLE : 15288
FRAUDS : 30003
RAPE : 20076
OFFENSES INVOLVING FRAUD : 5431
POSSESSION OF STOLEN PROPERTY : 15684
OFFENSES AGAINST THE PERSON : 10550
ADMINISTRATIVE CODE : 12398
KIDNAPPING & RELATED OFFENSES : 2622
FORGERY : 27703
NYS LAWS-UNCLASSIFIED FELONY : 3181
THEFT OF SERVICES : 1811
ARSON : 4914
ALCOHOLIC BEVERAGE CONTROL LAW : 479
PROSTITUTION & RELATED OFFENSES : 455
GAMBLING : 1028
OTHER STATE LAWS (NON PENAL LA : 1294
OFFENSES RELATED TO CHILDREN : 530
PETIT LARCENY OF MOTOR VEHICLE : 1037
JOSTLING : 317
FRAUDULENT ACCOSTING : 2179
AGRICULTURE & MRKTS LAW-UNCLASSIFIED : 584
BURGLAR'S TOOLS : 1569
LOITERING : 5
CHILD ABANDONMENT/NON SUPPORT : 347
ENDAN WELFARE INCOMP : 241
DISORDERLY CONDUCT : 265
HOMICIDE-NEGLIGENT-VEHICLE : 85
NYS LAWS-UNCLASSIFIED VIOLATION : 53
HOMICIDE-NEGLIGENT,UNCLASSIFIE : 149
OFFENSES AGAINST PUBLIC SAFETY : 230
OTHER STATE LAWS : 76
LOITERING/GAMBLING (CARDS, DIC : 46
KIDNAPPING : 45
UNLAWFUL POSS. WEAP. ON SCHOOL : 12
ESCAPE 3 : 48
DISRUPTION OF A RELIGIOUS SERV : 23
OTHER STATE LAWS (NON PENAL LAW) : 7
ANTICIPATORY OFFENSES : 41
NEW YORK CITY HEALTH CODE : 16
INTOXICATED/IMPAIRED DRIVING : 15
UNDER THE INFLUENCE OF DRUGS : 2
FORTUNE TELLING : 3
LOITERING FOR DRUG PURPOSES : 2
ADMINISTRATIVE CODES : 3
ABORTION : 7
OFFENSES AGAINST MARRIAGE UNCL : 4
OTHER TRAFFIC INFRACTION : 2
KIDNAPPING AND RELATED OFFENSES : 3
FELONY SEX CRIMES : 10

In [ ]:
data.head()

  CMPLNT_FR_DT CMPLNT_FR_TM  ADDR_PCT_CD  ...  VIC_AGE_GROUP        VIC_RACE  VIC_SEX
0   09/04/2014     17:25:00         81.0  ...          25-44           WHITE        F
1   10/12/2016     07:40:00        121.0  ...          45-64  WHITE HISPANIC        F
2   09/28/2012     13:30:00         41.0  ...          45-64  WHITE HISPANIC        F
3   03/24/2015     15:45:00         46.0  ...            <18  WHITE HISPANIC        F
4   05/20/2017     04:02:00        109.0  ...          25-44           BLACK        M

[5 rows x 17 columns]

In [ ]:
data["date"] = data[["CMPLNT_FR_DT","CMPLNT_FR_TM"]].agg('-'.join, axis=1)

In [ ]:
for i in data.columns:
  print(i,data[i].isnull().sum())

CMPLNT_FR_DT 0
CMPLNT_FR_TM 0
ADDR_PCT_CD 0
KY_CD 0
OFNS_DESC 0
PD_CD 0
PD_DESC 0
CRM_ATPT_CPTD_CD 0
BORO_NM 0
PREM_TYP_DESC 0
JURISDICTION_CODE 0
Latitude 0
Longitude 0
PATROL_BORO 0
VIC_AGE_GROUP 0
VIC_RACE 0
VIC_SEX 0
date 0

In [ ]:
data.head()

  CMPLNT_FR_DT CMPLNT_FR_TM  ...  VIC_SEX                 date
0   09/04/2014     17:25:00  ...        F  09/04/2014-17:25:00
1   10/12/2016     07:40:00  ...        F  10/12/2016-07:40:00
2   09/28/2012     13:30:00  ...        F  09/28/2012-13:30:00
3   03/24/2015     15:45:00  ...        F  03/24/2015-15:45:00
4   05/20/2017     04:02:00  ...        M  05/20/2017-04:02:00

[5 rows x 18 columns]

In [ ]:
data = data.astype({"date": str}, errors='raise')

In [ ]:
from datetime import datetime
Timestamp = np.zeros((data.shape[0],1))
Date = np.array(data["date"])
for i in range (data.shape[0]):
  Timestamp[i,] = datetime.strptime(Date[i,],"%m/%d/%Y-%H:%M:%S").timestamp() 
print(Timestamp[10:20,])

[[1.49032290e+09]
 [1.13607366e+09]
 [1.41765300e+09]
 [1.39309572e+09]
 [1.49657040e+09]
 [1.47493980e+09]
 [1.36116360e+09]
 [1.39934880e+09]
 [1.45010340e+09]
 [1.40800860e+09]]

In [ ]:
for i in data.columns:
  print(i,data[i].isnull().sum())

CMPLNT_FR_DT 0
CMPLNT_FR_TM 0
ADDR_PCT_CD 0
KY_CD 0
OFNS_DESC 0
PD_CD 0
PD_DESC 0
CRM_ATPT_CPTD_CD 0
BORO_NM 0
PREM_TYP_DESC 0
JURISDICTION_CODE 0
Latitude 0
Longitude 0
PATROL_BORO 0
VIC_AGE_GROUP 0
VIC_RACE 0
VIC_SEX 0
date 0

In [ ]:
data['DateTime']= pd.DataFrame(Timestamp)
data.dropna(axis=0,how='any',inplace=True)

In [ ]:
for i in data.columns:
  print(i,data[i].isnull().sum())

CMPLNT_FR_DT 0
CMPLNT_FR_TM 0
ADDR_PCT_CD 0
KY_CD 0
OFNS_DESC 0
PD_CD 0
PD_DESC 0
CRM_ATPT_CPTD_CD 0
BORO_NM 0
PREM_TYP_DESC 0
JURISDICTION_CODE 0
Latitude 0
Longitude 0
PATROL_BORO 0
VIC_AGE_GROUP 0
VIC_RACE 0
VIC_SEX 0
date 0
DateTime 0

In [ ]:
data.drop(['KY_CD'],axis=1,inplace= True)
data.drop(["CMPLNT_FR_DT","CMPLNT_FR_TM"],axis=1,inplace=True)
data.drop(['date'],axis=1,inplace=True)

In [ ]:
data.head()

   ADDR_PCT_CD                     OFNS_DESC  ...  VIC_SEX      DateTime
0         81.0  ASSAULT 3 & RELATED OFFENSES  ...        F  1.409852e+09
1        121.0                 GRAND LARCENY  ...        F  1.476258e+09
2         41.0                 GRAND LARCENY  ...        F  1.348839e+09
3         46.0                 PETIT LARCENY  ...        F  1.427212e+09
4        109.0  ASSAULT 3 & RELATED OFFENSES  ...        M  1.495253e+09

[5 rows x 15 columns]

In [ ]:
OFNS_DESC = Counter(data['OFNS_DESC'])
crimes = {}
crimes_dict = {}
not_consid=[]
for i,j in OFNS_DESC.items():
  crimes[i]=j
for i in crimes.keys():
  if crimes[i] >= 40000:
    crimes_dict[i] = crimes[i]
  else:
    not_consid.append(i)
print(' We will work with {} classes'.format(len(crimes_dict.keys())))

 We will work with 16 classes

In [ ]:
# crimes_dataset = data[data['OFNS_DESC'] in list(crimes_dict.keys())] df_row = pd.concat([df1, df2])
dataset = pd.DataFrame()
for crime in (crimes_dict.keys()):
  dataset = pd.concat([data[data['OFNS_DESC']==crime],dataset],axis=0)

In [ ]:
from collections import Counter
nbr_classe = Counter(dataset['OFNS_DESC'])
for i,j in nbr_classe.items():
  print(i,':',j)
print('------------------------------------------')
print('We have now {} classes'.format(len(nbr_classe.keys())))

ROBBERY : 174292
THEFT-FRAUD : 51458
DANGEROUS DRUGS : 52165
GRAND LARCENY OF MOTOR VEHICLE : 88316
VEHICLE AND TRAFFIC LAWS : 48268
OFFENSES AGAINST PUBLIC ADMINI : 56398
MISCELLANEOUS PENAL LAW : 92638
FELONY ASSAULT : 178053
OFF. AGNST PUB ORD SENSBLTY & : 265063
CRIMINAL MISCHIEF & RELATED OF : 390346
BURGLARY : 136525
SEX CRIMES : 59744
HARRASSMENT 2 : 629696
PETIT LARCENY : 624237
GRAND LARCENY : 391634
ASSAULT 3 & RELATED OFFENSES : 519937
------------------------------------------
We have now 16 classes

In [ ]:
dataset.shape

NameError: ignored

In [ ]:
dataset.to_csv("Crime_type_detection_filtred_n.csv")

#NEW

## We will just upload to our environment the filtred dataset to free some memory space

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import os

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Crimes Detection/NY_crimes/Crime_type_detection_filtred_n.csv")

In [ ]:
df.head()

   Unnamed: 0  ADDR_PCT_CD  ... VIC_SEX      DateTime
0          94         47.0  ...       M  1.488785e+09
1         101        115.0  ...       M  1.448798e+09
2         207         67.0  ...       F  1.353940e+09
3         234        106.0  ...       M  1.476371e+09
4         270          6.0  ...       D  1.465769e+09

[5 rows x 16 columns]

## Data Encoding

In [ ]:
df['VIC_AGE_GROUP'].nunique()

183

In [ ]:
age_dict = Counter(df['VIC_AGE_GROUP'])
c=6;
age=[]
for i,j in age_dict.items():
  print(i,':',j)
  c-=1
  if c==0:
    break
  age.append(i)

25-44 : 1655146
UNKNOWN : 323445
18-24 : 519187
45-64 : 848989
<18 : 240666
65+ : 170955

In [ ]:
race_dict = Counter(df['VIC_RACE'])
for i,j in race_dict.items():
  print(i,':',j)

WHITE HISPANIC : 798359
BLACK HISPANIC : 165087
BLACK : 1180609
ASIAN / PACIFIC ISLANDER : 275450
AMERICAN INDIAN/ALASKAN NATIVE : 22757
WHITE : 860756
UNKNOWN : 455724
OTHER : 28

In [ ]:
dataframe_f = pd.DataFrame()
for AGE in age:
  dataframe_f = pd.concat([df[df['VIC_AGE_GROUP']==AGE],dataframe_f],axis=0)

In [ ]:
% pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 347 kB/s
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.0.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.3.0

In [ ]:
dataframe_f["PD_CD"].nunique()

264

In [ ]:
import category_encoders as cat_en
binary_encoder = cat_en.BinaryEncoder()
dataframe_f_bin= binary_encoder.fit_transform(dataframe_f[["PATROL_BORO","PREM_TYP_DESC","BORO_NM","VIC_AGE_GROUP","VIC_SEX","VIC_RACE"]])
# "PD_DESC""CRM_ATPT_CPTD_CD","PREM_TYP_DESC",

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
dataframe_f.drop(["CRM_ATPT_CPTD_CD","JURISDICTION_CODE","PD_DESC","PD_CD"],axis=1,inplace=True)

In [ ]:
# from sklearn.preprocessing import OrdinalEncoder
# AGE = ['UNKNOWN','65+','45-64','25-44','18-24','<18']
# SEX = ['D','E','F','M']
# RACE = ['OTHER','AMERICAN INDIAN/ALASKAN NATIVE','BLACK HISPANIC','ASIAN / PACIFIC ISLANDER','UNKNOWN','WHITE','WHITE HISPANIC','BLACK']

# end_age = OrdinalEncoder(categories=[AGE])
# dataframe_f['VIC_AGE_GROUP']=end_age.fit_transform(dataframe_f.loc[:,['VIC_AGE_GROUP']])

# end_sex = OrdinalEncoder(categories=[SEX])
# dataframe_f['VIC_SEX']=end_sex.fit_transform(dataframe_f.loc[:,['VIC_SEX']])

# end_race= OrdinalEncoder(categories=[RACE])
# dataframe_f['VIC_RACE']=end_race.fit_transform(dataframe_f.loc[:,['VIC_RACE']])

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder() 
dataframe_f["OFNS_DESC"] = labelencoder.fit_transform(dataframe_f["OFNS_DESC"])

In [ ]:
Target_df=dataframe_f[['Target','OFNS_DESC']]
Target_dict={}
for i in Target_df['OFNS_DESC'].unique():
  c = Target_df[Target_df['OFNS_DESC']==i]
  print(c)
  Target_dict[i]=c['Target'].iloc[0]
  continue

        Target OFNS_DESC
7           12   ROBBERY
17          12   ROBBERY
27          12   ROBBERY
29          12   ROBBERY
31          12   ROBBERY
...        ...       ...
174284      12   ROBBERY
174285      12   ROBBERY
174286      12   ROBBERY
174288      12   ROBBERY
174290      12   ROBBERY

[169088 rows x 2 columns]
        Target    OFNS_DESC
174307      14  THEFT-FRAUD
174454      14  THEFT-FRAUD
174518      14  THEFT-FRAUD
174724      14  THEFT-FRAUD
174779      14  THEFT-FRAUD
...        ...          ...
225738      14  THEFT-FRAUD
225739      14  THEFT-FRAUD
225740      14  THEFT-FRAUD
225745      14  THEFT-FRAUD
225746      14  THEFT-FRAUD

[46040 rows x 2 columns]
        Target        OFNS_DESC
226441       3  DANGEROUS DRUGS
227963       3  DANGEROUS DRUGS
229851       3  DANGEROUS DRUGS
232098       3  DANGEROUS DRUGS
232286       3  DANGEROUS DRUGS
...        ...              ...
277055       3  DANGEROUS DRUGS
277089       3  DANGEROUS DRUGS
277096       3  DANGEROUS DRUGS
277103       3  DANGEROUS DRUGS
277415       3  DANGEROUS DRUGS

[52094 rows x 2 columns]
        Target                       OFNS_DESC
280320       6  GRAND LARCENY OF MOTOR VEHICLE
281440       6  GRAND LARCENY OF MOTOR VEHICLE
287452       6  GRAND LARCENY OF MOTOR VEHICLE
290124       6  GRAND LARCENY OF MOTOR VEHICLE
290996       6  GRAND LARCENY OF MOTOR VEHICLE
...        ...                             ...
366222       6  GRAND LARCENY OF MOTOR VEHICLE
366223       6  GRAND LARCENY OF MOTOR VEHICLE
366226       6  GRAND LARCENY OF MOTOR VEHICLE
366228       6  GRAND LARCENY OF MOTOR VEHICLE
366230       6  GRAND LARCENY OF MOTOR VEHICLE

[82623 rows x 2 columns]
        Target                 OFNS_DESC
366239      15  VEHICLE AND TRAFFIC LAWS
366243      15  VEHICLE AND TRAFFIC LAWS
366250      15  VEHICLE AND TRAFFIC LAWS
366258      15  VEHICLE AND TRAFFIC LAWS
366263      15  VEHICLE AND TRAFFIC LAWS
...        ...                       ...
414485      15  VEHICLE AND TRAFFIC LAWS
414488      15  VEHICLE AND TRAFFIC LAWS
414490      15  VEHICLE AND TRAFFIC LAWS
414494      15  VEHICLE AND TRAFFIC LAWS
414497      15  VEHICLE AND TRAFFIC LAWS

[45614 rows x 2 columns]
        Target                       OFNS_DESC
414512      10  OFFENSES AGAINST PUBLIC ADMINI
414578      10  OFFENSES AGAINST PUBLIC ADMINI
414629      10  OFFENSES AGAINST PUBLIC ADMINI
414670      10  OFFENSES AGAINST PUBLIC ADMINI
414685      10  OFFENSES AGAINST PUBLIC ADMINI
...        ...                             ...
470884      10  OFFENSES AGAINST PUBLIC ADMINI
470885      10  OFFENSES AGAINST PUBLIC ADMINI
470887      10  OFFENSES AGAINST PUBLIC ADMINI
470888      10  OFFENSES AGAINST PUBLIC ADMINI
470893      10  OFFENSES AGAINST PUBLIC ADMINI

[54683 rows x 2 columns]
        Target                OFNS_DESC
470919       8  MISCELLANEOUS PENAL LAW
470955       8  MISCELLANEOUS PENAL LAW
471017       8  MISCELLANEOUS PENAL LAW
471021       8  MISCELLANEOUS PENAL LAW
471029       8  MISCELLANEOUS PENAL LAW
...        ...                      ...
563520       8  MISCELLANEOUS PENAL LAW
563522       8  MISCELLANEOUS PENAL LAW
563524       8  MISCELLANEOUS PENAL LAW
563529       8  MISCELLANEOUS PENAL LAW
563533       8  MISCELLANEOUS PENAL LAW

[88781 rows x 2 columns]
        Target       OFNS_DESC
563562       4  FELONY ASSAULT
563575       4  FELONY ASSAULT
563579       4  FELONY ASSAULT
563590       4  FELONY ASSAULT
563601       4  FELONY ASSAULT
...        ...             ...
741576       4  FELONY ASSAULT
741578       4  FELONY ASSAULT
741580       4  FELONY ASSAULT
741583       4  FELONY ASSAULT
741585       4  FELONY ASSAULT

[171042 rows x 2 columns]
         Target                      OFNS_DESC
741651        9  OFF. AGNST PUB ORD SENSBLTY &
741680        9  OFF. AGNST PUB ORD SENSBLTY &
741688        9  OFF. AGNST PUB ORD SENSBLTY &
741775        9  OFF. AGNST PUB ORD SENSBLTY &
741806        9  OFF. AGNST PUB ORD SENSBLTY &
...         ...                            ...
1006642       9  OFF. AGNST PUB ORD SENSBLTY &
1006644       9  OFF. AGNST PUB ORD SENSBLTY &
1006646       9  OFF. AGNST PUB ORD SENSBLTY &
1006648       9  OFF. AGNST PUB ORD SENSBLTY &
1006650       9  OFF. AGNST PUB ORD SENSBLTY &

[257404 rows x 2 columns]
         Target                       OFNS_DESC
1006758       2  CRIMINAL MISCHIEF & RELATED OF
1007304       2  CRIMINAL MISCHIEF & RELATED OF
1007602       2  CRIMINAL MISCHIEF & RELATED OF
1008173       2  CRIMINAL MISCHIEF & RELATED OF
1009123       2  CRIMINAL MISCHIEF & RELATED OF
...         ...                             ...
1396979       2  CRIMINAL MISCHIEF & RELATED OF
1396980       2  CRIMINAL MISCHIEF & RELATED OF
1396984       2  CRIMINAL MISCHIEF & RELATED OF
1396992       2  CRIMINAL MISCHIEF & RELATED OF
1396994       2  CRIMINAL MISCHIEF & RELATED OF

[365627 rows x 2 columns]
         Target OFNS_DESC
1397187       1  BURGLARY
1397503       1  BURGLARY
1397830       1  BURGLARY
1398148       1  BURGLARY
1398179       1  BURGLARY
...         ...       ...
1533510       1  BURGLARY
1533512       1  BURGLARY
1533515       1  BURGLARY
1533517       1  BURGLARY
1533521       1  BURGLARY

[127327 rows x 2 columns]
         Target   OFNS_DESC
1533522      13  SEX CRIMES
1533523      13  SEX CRIMES
1533525      13  SEX CRIMES
1533526      13  SEX CRIMES
1533529      13  SEX CRIMES
...         ...         ...
1593232      13  SEX CRIMES
1593239      13  SEX CRIMES
1593244      13  SEX CRIMES
1593256      13  SEX CRIMES
1593258      13  SEX CRIMES

[59430 rows x 2 columns]
         Target      OFNS_DESC
1593277       7  HARRASSMENT 2
1593280       7  HARRASSMENT 2
1593281       7  HARRASSMENT 2
1593297       7  HARRASSMENT 2
1593300       7  HARRASSMENT 2
...         ...            ...
2222949       7  HARRASSMENT 2
2222950       7  HARRASSMENT 2
2222953       7  HARRASSMENT 2
2222957       7  HARRASSMENT 2
2222958       7  HARRASSMENT 2

[600231 rows x 2 columns]
         Target      OFNS_DESC
2222962      11  PETIT LARCENY
2222969      11  PETIT LARCENY
2222979      11  PETIT LARCENY
2223021      11  PETIT LARCENY
2223036      11  PETIT LARCENY
...         ...            ...
2847182      11  PETIT LARCENY
2847184      11  PETIT LARCENY
2847185      11  PETIT LARCENY
2847193      11  PETIT LARCENY
2847195      11  PETIT LARCENY

[593901 rows x 2 columns]
         Target      OFNS_DESC
2847368       5  GRAND LARCENY
2847426       5  GRAND LARCENY
2847443       5  GRAND LARCENY
2847483       5  GRAND LARCENY
2847484       5  GRAND LARCENY
...         ...            ...
3238817       5  GRAND LARCENY
3238819       5  GRAND LARCENY
3238824       5  GRAND LARCENY
3238828       5  GRAND LARCENY
3238829       5  GRAND LARCENY

[360312 rows x 2 columns]
         Target                     OFNS_DESC
3238857       0  ASSAULT 3 & RELATED OFFENSES
3238877       0  ASSAULT 3 & RELATED OFFENSES
3238892       0  ASSAULT 3 & RELATED OFFENSES
3238901       0  ASSAULT 3 & RELATED OFFENSES
3238904       0  ASSAULT 3 & RELATED OFFENSES
...         ...                           ...
3758752       0  ASSAULT 3 & RELATED OFFENSES
3758755       0  ASSAULT 3 & RELATED OFFENSES
3758763       0  ASSAULT 3 & RELATED OFFENSES
3758764       0  ASSAULT 3 & RELATED OFFENSES
3758767       0  ASSAULT 3 & RELATED OFFENSES

[513236 rows x 2 columns]

In [ ]:
for key, value in Target_dict.items():
  print (key,':',value)

ROBBERY : 12
THEFT-FRAUD : 14
DANGEROUS DRUGS : 3
GRAND LARCENY OF MOTOR VEHICLE : 6
VEHICLE AND TRAFFIC LAWS : 15
OFFENSES AGAINST PUBLIC ADMINI : 10
MISCELLANEOUS PENAL LAW : 8
FELONY ASSAULT : 4
OFF. AGNST PUB ORD SENSBLTY & : 9
CRIMINAL MISCHIEF & RELATED OF : 2
BURGLARY : 1
SEX CRIMES : 13
HARRASSMENT 2 : 7
PETIT LARCENY : 11
GRAND LARCENY : 5
ASSAULT 3 & RELATED OFFENSES : 0

In [ ]:
import pickle
pickle_dict(Target_dict,'Target_dict')

In [ ]:
Final_df = pd.concat([dataframe_f_bin,dataframe_f],axis=1)

In [ ]:
Final_df.head()

    PATROL_BORO_0  PATROL_BORO_1  ...  VIC_SEX      DateTime
7               0              0  ...        M  1.483693e+09
17              0              0  ...        M  1.458067e+09
27              0              0  ...        M  1.495217e+09
29              0              1  ...        M  1.425307e+09
31              0              1  ...        F  1.199174e+09

[5 rows x 35 columns]

In [ ]:
Final_df.drop(['PREM_TYP_DESC'],axis=1,inplace=True)

In [ ]:
Final_df['PATROL_BORO'].unique()

array(['PATROL BORO QUEENS SOUTH', 'PATROL BORO BRONX',
       'PATROL BORO BKLYN NORTH', 'PATROL BORO BKLYN SOUTH',
       'PATROL BORO MAN NORTH', 'PATROL BORO QUEENS NORTH',
       'PATROL BORO STATEN ISLAND', 'PATROL BORO MAN SOUTH'], dtype=object)

In [ ]:
patrol_df=Final_df[['PATROL_BORO_0','PATROL_BORO_1','PATROL_BORO_2','PATROL_BORO_3','PATROL_BORO']]
patrol_dict={}
for i in patrol_df['PATROL_BORO'].unique():
  c = patrol_df[patrol_df['PATROL_BORO']==i]
  patrol_dict[i]=c[['PATROL_BORO_0','PATROL_BORO_1','PATROL_BORO_2','PATROL_BORO_3']].iloc[0]
  continue

In [ ]:
for key,value in patrol_dict.items():
  print(key,':','\n',value)

PATROL BORO QUEENS SOUTH :
 PATROL_BORO_0    0
PATROL_BORO_1    0
PATROL_BORO_2    0
PATROL_BORO_3    1
Name: 7, dtype: int64
PATROL BORO BRONX :
 PATROL_BORO_0    0
PATROL_BORO_1    0
PATROL_BORO_2    1
PATROL_BORO_3    0
Name: 17, dtype: int64
PATROL BORO BKLYN NORTH :
 PATROL_BORO_0    0
PATROL_BORO_1    0
PATROL_BORO_2    1
PATROL_BORO_3    1
Name: 27, dtype: int64
PATROL BORO BKLYN SOUTH :
 PATROL_BORO_0    0
PATROL_BORO_1    1
PATROL_BORO_2    0
PATROL_BORO_3    0
Name: 29, dtype: int64
PATROL BORO MAN NORTH :
 PATROL_BORO_0    0
PATROL_BORO_1    1
PATROL_BORO_2    0
PATROL_BORO_3    1
Name: 31, dtype: int64
PATROL BORO QUEENS NORTH :
 PATROL_BORO_0    0
PATROL_BORO_1    1
PATROL_BORO_2    1
PATROL_BORO_3    0
Name: 44, dtype: int64
PATROL BORO STATEN ISLAND :
 PATROL_BORO_0    0
PATROL_BORO_1    1
PATROL_BORO_2    1
PATROL_BORO_3    1
Name: 136, dtype: int64
PATROL BORO MAN SOUTH :
 PATROL_BORO_0    1
PATROL_BORO_1    0
PATROL_BORO_2    0
PATROL_BORO_3    0
Name: 271, dtype: int64

In [ ]:
dataframe_f['VIC_AGE_GROUP'].unique()

array(['<18', '45-64', '18-24', 'UNKNOWN', '25-44'], dtype=object)

In [ ]:
VIC_AGE_GROUP_df=Final_df[['VIC_AGE_GROUP_0','VIC_AGE_GROUP_1','VIC_AGE_GROUP_2','VIC_AGE_GROUP']]
VIC_AGE_GROUP_dict={}
for i in VIC_AGE_GROUP_df['VIC_AGE_GROUP'].unique():
  c = VIC_AGE_GROUP_df[VIC_AGE_GROUP_df['VIC_AGE_GROUP']==i]
  VIC_AGE_GROUP_dict[i]=c[['VIC_AGE_GROUP_0','VIC_AGE_GROUP_1','VIC_AGE_GROUP_2']].iloc[0]
  continue

In [ ]:
for key,value in VIC_AGE_GROUP_dict.items():
  print(key,':','\n',value)

<18 :
 VIC_AGE_GROUP_0    0
VIC_AGE_GROUP_1    0
VIC_AGE_GROUP_2    1
Name: 7, dtype: int64
45-64 :
 VIC_AGE_GROUP_0    0
VIC_AGE_GROUP_1    1
VIC_AGE_GROUP_2    0
Name: 6, dtype: int64
18-24 :
 VIC_AGE_GROUP_0    0
VIC_AGE_GROUP_1    1
VIC_AGE_GROUP_2    1
Name: 5, dtype: int64
UNKNOWN :
 VIC_AGE_GROUP_0    1
VIC_AGE_GROUP_1    0
VIC_AGE_GROUP_2    0
Name: 4, dtype: int64
25-44 :
 VIC_AGE_GROUP_0    1
VIC_AGE_GROUP_1    0
VIC_AGE_GROUP_2    1
Name: 0, dtype: int64

In [ ]:
VIC_RACE_df=Final_df[['VIC_RACE_0','VIC_RACE_1','VIC_RACE_2','VIC_RACE_3','VIC_RACE']]
VIC_RACE_dict={}
for i in VIC_RACE_df['VIC_RACE'].unique():
  c = VIC_RACE_df[VIC_RACE_df['VIC_RACE']==i]
  VIC_RACE_dict[i]=c[['VIC_RACE_0','VIC_RACE_1','VIC_RACE_2','VIC_RACE_3']].iloc[0]
  continue

In [ ]:
for key,value in VIC_RACE_dict.items():
  print(key,':','\n',value)

BLACK :
 VIC_RACE_0    0
VIC_RACE_1    0
VIC_RACE_2    0
VIC_RACE_3    1
Name: 7, dtype: int64
BLACK HISPANIC :
 VIC_RACE_0    0
VIC_RACE_1    0
VIC_RACE_2    1
VIC_RACE_3    0
Name: 17, dtype: int64
WHITE HISPANIC :
 VIC_RACE_0    0
VIC_RACE_1    0
VIC_RACE_2    1
VIC_RACE_3    1
Name: 27, dtype: int64
WHITE :
 VIC_RACE_0    0
VIC_RACE_1    1
VIC_RACE_2    0
VIC_RACE_3    0
Name: 136, dtype: int64
ASIAN / PACIFIC ISLANDER :
 VIC_RACE_0    0
VIC_RACE_1    1
VIC_RACE_2    0
VIC_RACE_3    1
Name: 168, dtype: int64
UNKNOWN :
 VIC_RACE_0    0
VIC_RACE_1    1
VIC_RACE_2    1
VIC_RACE_3    0
Name: 259, dtype: int64
AMERICAN INDIAN/ALASKAN NATIVE :
 VIC_RACE_0    0
VIC_RACE_1    1
VIC_RACE_2    1
VIC_RACE_3    1
Name: 638, dtype: int64
OTHER :
 VIC_RACE_0    1
VIC_RACE_1    0
VIC_RACE_2    0
VIC_RACE_3    0
Name: 25808, dtype: int64

In [ ]:
VIC_SEX_df=Final_df[['VIC_SEX_0','VIC_SEX_1','VIC_SEX_2','VIC_SEX']]
VIC_SEX_dict={}
for i in VIC_SEX_df['VIC_SEX'].unique():
  c = VIC_SEX_df[VIC_SEX_df['VIC_SEX']==i]
  VIC_SEX_dict[i]=c[['VIC_SEX_0','VIC_SEX_1','VIC_SEX_2']].iloc[0]
  continue

In [ ]:
for key,value in VIC_SEX_dict.items():
  print(key,':','\n',value)

M :
 VIC_SEX_0    0
VIC_SEX_1    0
VIC_SEX_2    1
Name: 7, dtype: int64
F :
 VIC_SEX_0    0
VIC_SEX_1    1
VIC_SEX_2    0
Name: 31, dtype: int64
D :
 VIC_SEX_0    0
VIC_SEX_1    1
VIC_SEX_2    1
Name: 151758, dtype: int64
E :
 VIC_SEX_0    1
VIC_SEX_1    0
VIC_SEX_2    0
Name: 232421, dtype: int64

In [ ]:
BORO_NM_df=Final_df[['BORO_NM_0','BORO_NM_1','BORO_NM_2','BORO_NM']]
BORO_NM_dict={}
for i in BORO_NM_df['BORO_NM'].unique():
  c = BORO_NM_df[BORO_NM_df['BORO_NM']==i]
  BORO_NM_dict[i]=c[['BORO_NM_0','BORO_NM_1','BORO_NM_2']].iloc[0]
  continue

In [ ]:
for key,value in BORO_NM_dict.items():
  print(key,':','\n',value)

QUEENS :
 BORO_NM_0    0
BORO_NM_1    0
BORO_NM_2    1
Name: 7, dtype: int64
BRONX :
 BORO_NM_0    0
BORO_NM_1    1
BORO_NM_2    0
Name: 17, dtype: int64
BROOKLYN :
 BORO_NM_0    0
BORO_NM_1    1
BORO_NM_2    1
Name: 27, dtype: int64
MANHATTAN :
 BORO_NM_0    1
BORO_NM_1    0
BORO_NM_2    0
Name: 31, dtype: int64
STATEN ISLAND :
 BORO_NM_0    1
BORO_NM_1    0
BORO_NM_2    1
Name: 136, dtype: int64

In [ ]:
def pickle_dict ( dictionnary : dict , dict_name : str):
  with open('/content/drive/MyDrive/Crimes Detection/NY_crimes/{}.pickle'.format(dict_name), 'wb') as handle:
    pickle.dump(dictionnary, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
pickle_dict(BORO_NM_dict,'BORO_NM_dict')
pickle_dict(VIC_SEX_dict,'VIC_SEX_dict')
pickle_dict(VIC_RACE_dict,'VIC_RACE_dict')
pickle_dict(VIC_AGE_GROUP_dict,'VIC_AGE_GROUP_dict')
pickle_dict(patrol_dict,'patrol_dict')

In [ ]:
Final_df.drop(["VIC_AGE_GROUP","VIC_SEX","VIC_RACE","PATROL_BORO","BORO_NM"],axis=1,inplace=True)

In [ ]:
Final_df.head()

    PATROL_BORO_0  PATROL_BORO_1  ...  Longitude      DateTime
7               0              0  ... -73.745237  1.483693e+09
17              0              0  ... -73.899577  1.458067e+09
27              0              0  ... -73.940499  1.495217e+09
29              0              1  ... -73.937264  1.425307e+09
31              0              1  ... -73.951880  1.199174e+09

[5 rows x 30 columns]

In [ ]:
Final_df.to_csv("/content/drive/MyDrive/Crimes Detection/NY_crimes/Crimes_Detection_final.csv")

# Data preparation for processing and model selection

In [ ]:
dataframe_f = Final_df

In [ ]:
# Y= dataframe_f.pop('Target')
Y_no = dataframe_f.pop('OFNS_DESC')

KeyError: ignored

In [ ]:
dataframe_f.drop(['Unnamed: 0'],axis=1,inplace=True)
# dataframe_f.drop(['PD_CD'],axis=1,inplace=True)             
# dataframe_f.drop(['Unnamed: 0.1'],axis=1,inplace=True)

In [ ]:
dataframe_f.head()

    PATROL_BORO_0  PATROL_BORO_1  ...  Longitude      DateTime
7               0              0  ... -73.745237  1.483693e+09
17              0              0  ... -73.899577  1.458067e+09
27              0              0  ... -73.940499  1.495217e+09
29              0              1  ... -73.937264  1.425307e+09
31              0              1  ... -73.951880  1.199174e+09

[5 rows x 28 columns]

In [ ]:
for i in dataframe_f.columns:
  print('for the column : {}, the maximum is :{}, and the minimum is {}.'.format(i,dataframe_f[i].max(),dataframe_f[i].min()))

for the column : PATROL_BORO_0, the maximum is :1, and the minimum is 0.
for the column : PATROL_BORO_1, the maximum is :1, and the minimum is 0.
for the column : PATROL_BORO_2, the maximum is :1, and the minimum is 0.
for the column : PATROL_BORO_3, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_0, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_1, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_2, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_3, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_4, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_5, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_6, the maximum is :1, and the minimum is 0.
for the column : BORO_NM_0, the maximum is :1, and the minimum is 0.
for the column : BORO_NM_1, the maximum is :1, and the minimum is 0.
for the column : BORO_NM_2, the maximum is :1, and the minimum is 0.
for the column : VIC_AGE_GROUP_0, the maximum is :1, and the minimum is 0.
for the column : VIC_AGE_GROUP_1, the maximum is :1, and the minimum is 0.
for the column : VIC_AGE_GROUP_2, the maximum is :1, and the minimum is 0.
for the column : VIC_SEX_0, the maximum is :1, and the minimum is 0.
for the column : VIC_SEX_1, the maximum is :1, and the minimum is 0.
for the column : VIC_SEX_2, the maximum is :1, and the minimum is 0.
for the column : VIC_RACE_0, the maximum is :1, and the minimum is 0.
for the column : VIC_RACE_1, the maximum is :1, and the minimum is 0.
for the column : VIC_RACE_2, the maximum is :1, and the minimum is 0.
for the column : VIC_RACE_3, the maximum is :1, and the minimum is 0.
for the column : ADDR_PCT_CD, the maximum is :123.0, and the minimum is -99.0.
for the column : Latitude, the maximum is :59.657273946000004, and the minimum is 40.494426993000005.
for the column : Longitude, the maximum is :-73.684788384, and the minimum is -77.056722703.
for the column : DateTime, the maximum is :1577835300.0, and the minimum is -30114590400.0.

In [ ]:
for i in dataframe_f.columns:
  print(i,':',dataframe_f[i].isnull().sum())

PATROL_BORO_0 : 0
PATROL_BORO_1 : 0
PATROL_BORO_2 : 0
PATROL_BORO_3 : 0
PREM_TYP_DESC_0 : 0
PREM_TYP_DESC_1 : 0
PREM_TYP_DESC_2 : 0
PREM_TYP_DESC_3 : 0
PREM_TYP_DESC_4 : 0
PREM_TYP_DESC_5 : 0
PREM_TYP_DESC_6 : 0
BORO_NM_0 : 0
BORO_NM_1 : 0
BORO_NM_2 : 0
VIC_AGE_GROUP_0 : 0
VIC_AGE_GROUP_1 : 0
VIC_AGE_GROUP_2 : 0
VIC_SEX_0 : 0
VIC_SEX_1 : 0
VIC_SEX_2 : 0
VIC_RACE_0 : 0
VIC_RACE_1 : 0
VIC_RACE_2 : 0
VIC_RACE_3 : 0
ADDR_PCT_CD : 0
Latitude : 0
Longitude : 0
DateTime : 0

In [ ]:
# X = np.array(normalized_df)

In [ ]:
# # from category_encoders.james_stein import JamesSteinEncoder
# # JSE_encoder = JamesSteinEncoder()
# from sklearn.preprocessing import LabelEncoder
# labelencoder = LabelEncoder()

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
dataframe_f['Latitude']=(dataframe_f['Latitude']-dataframe_f['Latitude'].min())/(dataframe_f['Latitude'].max()-dataframe_f['Latitude'].min())
dataframe_f['Longitude']=(dataframe_f['Longitude']-dataframe_f['Longitude'].min())/(dataframe_f['Longitude'].max()-dataframe_f['Longitude'].min())
dataframe_f['DateTime']=(dataframe_f['DateTime']-dataframe_f['DateTime'].min())/(dataframe_f['DateTime'].max()-dataframe_f['DateTime'].min())
dataframe_f['ADDR_PCT_CD']=(dataframe_f['ADDR_PCT_CD']-dataframe_f['ADDR_PCT_CD'].min())/(dataframe_f['ADDR_PCT_CD'].max()-dataframe_f['ADDR_PCT_CD'].min())
# dataframe_f['PD_CD']=(dataframe_f['PD_CD']-dataframe_f['PD_CD'].min())/(dataframe_f['PD_CD'].max()-dataframe_f['PD_CD'].min())

In [ ]:
# dict_min_max={}
dict_min_max['Latitude'] = [Final_df['Latitude'].min(),Final_df['Latitude'].max()]
dict_min_max['Longitude'] = [Final_df['Longitude'].min(),Final_df['Longitude'].max()]
dict_min_max['DateTime'] = [Final_df['DateTime'].min(),Final_df['DateTime'].max()]
dict_min_max['ADDR_PCT_CD'] = [Final_df['ADDR_PCT_CD'].min(),Final_df['ADDR_PCT_CD'].max()]

import pickle 

def normalize(feature : str , value : float):
  liste = dict_min_max[feature]
  return ((value-liste[0])/(liste[1]-liste[0]))

with open('/content/drive/MyDrive/Crimes Detection/NY_crimes/dict_min_max.pickle', 'wb') as handle:
    pickle.dump(dict_min_max, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
import pickle

# Store data (serialize)

# Load data (deserialize)
with open('/content/drive/MyDrive/Crimes Detection/NY_crimes/dict_min_max.pickle', 'rb') as handle:
    unserialized_data = pickle.load(handle)

print(dict_min_max == unserialized_data)

True

In [ ]:
for i , j in unserialized_data.items():
  print(i,':',j)

Latitude : [40.494426993000005, 59.657273946000004]
Longitude : [-77.056722703, -73.684788384]
DateTime : [-30114590400.0, 1577835300.0]
ADDR_PCT_CD : [-99.0, 123.0]

In [ ]:
dataframe_f.head()

    PATROL_BORO_0  PATROL_BORO_1  PATROL_BORO_2  ...  Latitude  Longitude  DateTime
7               0              0              0  ...  0.010539   0.982073  0.997030
17              0              0              1  ...  0.019322   0.936301  0.996221
27              0              0              1  ...  0.011334   0.924165  0.997393
29              0              1              0  ...  0.008728   0.925125  0.995187
31              0              1              0  ...  0.016493   0.920790  0.988052

[5 rows x 28 columns]

In [ ]:
# from sklearn.model_selection import train_test_split
# X_train,X_test,Y_train,Y_test = train_test_split(dataframe_f,Y,test_size=0.25,shuffle=True)
# X_train = pd.DataFrame(X_train)
# Y_train = pd.DataFrame(Y_train)
# X_test = pd.DataFrame(X_test)
# Y_test = pd.DataFrame(Y_test)

In [ ]:
# X_tr = np.array(normalized_X_tr)
# Y_tr = np.array(Y_train)
# X_te = np.array(normalized_X_te)
# Y_te = np.array(Y_test)

In [ ]:
# print(X_train.shape,Y_train.shape,X_test.shape,Y_test.shape)

(705981, 18) (705981, 1) (235328, 18) (235328, 1)

In [ ]:
# normalized_df_data = pd.concat([normalized_X_tr,normalized_X_te],axis=0)
# normalized_df_target = pd.concat([pd.DataFrame(Y_tr),pd.DataFrame(Y_te)],axis=0)

In [ ]:
# normalized_df_data.to_csv("/content/drive/MyDrive/Crimes Detection/NY_crimes/Final_pretrained_dataset_observations.csv")

In [ ]:
# normalized_df_target.to_csv("/content/drive/MyDrive/Crimes Detection/NY_crimes/Final_pretrained_dataset_targets.csv")

# Model 1 : Artificial Neural Network

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import os

In [ ]:
Y_no.to_csv("/content/drive/MyDrive/Crimes Detection/NY_crimes/pre-training_target.csv")
dataframe_f.to_csv("/content/drive/MyDrive/Crimes Detection/NY_crimes/pre-training_feautures.csv")

In [ ]:
Y_df = pd.read_csv('/content/drive/MyDrive/Crimes Detection/NY_crimes/pre-training_target.csv')
X_df =pd.read_csv('/content/drive/MyDrive/Crimes Detection/NY_crimes/pre-training_feautures.csv')

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X_df,Y_df,test_size=0.28,shuffle=True)
Y_train.drop(['Unnamed: 0'],axis=1,inplace=True)
Y_test.drop(['Unnamed: 0'],axis=1,inplace=True)
X_tr = np.array(X_train)
X_te = np.array(X_test)
Y_tr = np.array(Y_train)
Y_te = np.array(Y_test)

In [ ]:
import gc
del [[X_df,Y_df]]
gc.collect()
X_df=pd.DataFrame()
Y_df=pd.DataFrame()

In [ ]:
print(X_tr.shape,X_te.shape,Y_tr.shape,Y_te.shape)

(2582951, 29) (1004482, 29) (2582951, 1) (1004482, 1)

In [ ]:
# !pip install h5py
# !pip install keras-tqdm
# # from keras.tqdm import TQDMNotebookCallback
# !pip install -q "tqdm>=4.36.1" # installer une version de TQDM supérieur à 4.36.1
# !pip install -U tensorflow-addons

# import tensorflow as tf
# import tensorflow_addons as tfa # tensorflow.addons : TensorFlow Addons is a repository of contributions that conform to well-established API patterns, but implement new functionality not available in core TensorFlow.
# import tqdm # library to show the progress bar as a callback

# # defining the function to plot a progress bar 
# import sys 
# from IPython.lib import deepreload 

# stdout = sys.stdout
# sys.stdout = open('junk','w')
# deepreload.reload(tqdm)
# sys.stdout = stdout
# tqdm_callback = tfa.callbacks.TQDMProgressBar()

Requirement already satisfied: h5py in /usr/local/lib/python3.7/dist-packages (3.1.0)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.7/dist-packages (from h5py) (1.19.5)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py) (1.5.2)
Collecting keras-tqdm
  Downloading keras_tqdm-2.0.1-py2.py3-none-any.whl (7.1 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from keras-tqdm) (4.62.3)
Requirement already satisfied: Keras in /usr/local/lib/python3.7/dist-packages (from keras-tqdm) (2.7.0)
Installing collected packages: keras-tqdm
Successfully installed keras-tqdm-2.0.1
Collecting tensorflow-addons
  Downloading tensorflow_addons-0.15.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 4.7 MB/s
Requirement already satisfied: typeguard>=2.7 in /usr/local/lib/python3.7/dist-packages (from tensorflow-addons) (2.7.1)
Installing collected packages: tensorflow-addons
Successfully installed tensorflow-addons-0.15.0

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
ANN = Sequential([
                  keras.layers.Dense(2000,input_shape=(X_train.shape[1],),activation='relu'),
                  keras.layers.Dense(1000, activation='relu'),
                  keras.layers.Dense(500,activation='relu'),
                  keras.layers.Dense(16,activation='softmax')
])
ES = keras.callbacks.EarlyStopping(monitor='val_sparse_categorical_accuracy',mode="auto",patience=6,verbose=2)
CP = keras.callbacks.ModelCheckpoint('/content/drive/MyDrive/Crimes Detection/NY_crimes/Crimes_Detection_weights_new.h5', monitor ='val_sparse_categorical_accuracy',verbose=2,save_best_only=True)
ANN.compile(optimizer="adam",loss="sparse_categorical_crossentropy",metrics=["sparse_categorical_accuracy"])
ANN.fit(X_tr,Y_tr,epochs=100,batch_size=32,verbose=1,callbacks=[ES,CP],validation_data=(X_te,Y_te))

Epoch 1/100
80714/80718 [============================>.] - ETA: 0s - loss: 70.4358 - sparse_categorical_accuracy: 0.1661
Epoch 00001: val_sparse_categorical_accuracy improved from -inf to 0.16665, saving model to /content/drive/MyDrive/Crimes Detection/NY_crimes/Crimes_Detection_weights_new.h5
80718/80718 [==============================] - 527s 7ms/step - loss: 70.4331 - sparse_categorical_accuracy: 0.1661 - val_loss: 2.4182 - val_sparse_categorical_accuracy: 0.1666
Epoch 2/100
80713/80718 [============================>.] - ETA: 0s - loss: 2.4953 - sparse_categorical_accuracy: 0.1670
Epoch 00002: val_sparse_categorical_accuracy did not improve from 0.16665
80718/80718 [==============================] - 526s 7ms/step - loss: 2.4953 - sparse_categorical_accuracy: 0.1670 - val_loss: 2.4181 - val_sparse_categorical_accuracy: 0.1662
Epoch 3/100
80718/80718 [==============================] - ETA: 0s - loss: 2.4421 - sparse_categorical_accuracy: 0.1668
Epoch 00003: val_sparse_categorical_accuracy did not improve from 0.16665
80718/80718 [==============================] - 524s 6ms/step - loss: 2.4421 - sparse_categorical_accuracy: 0.1668 - val_loss: 2.4181 - val_sparse_categorical_accuracy: 0.1662
Epoch 4/100
80717/80718 [============================>.] - ETA: 0s - loss: 4.0639 - sparse_categorical_accuracy: 0.1671
Epoch 00004: val_sparse_categorical_accuracy improved from 0.16665 to 0.16668, saving model to /content/drive/MyDrive/Crimes Detection/NY_crimes/Crimes_Detection_weights_new.h5
80718/80718 [==============================] - 524s 6ms/step - loss: 4.0639 - sparse_categorical_accuracy: 0.1671 - val_loss: 2.4180 - val_sparse_categorical_accuracy: 0.1667
Epoch 5/100
80718/80718 [==============================] - ETA: 0s - loss: 2.5967 - sparse_categorical_accuracy: 0.1672
Epoch 00005: val_sparse_categorical_accuracy did not improve from 0.16668
80718/80718 [==============================] - 523s 6ms/step - loss: 2.5967 - sparse_categorical_accuracy: 0.1672 - val_loss: 2.4178 - val_sparse_categorical_accuracy: 0.1663
Epoch 6/100
80715/80718 [============================>.] - ETA: 0s - loss: 2.4381 - sparse_categorical_accuracy: 0.1670
Epoch 00006: val_sparse_categorical_accuracy did not improve from 0.16668
80718/80718 [==============================] - 522s 6ms/step - loss: 2.4381 - sparse_categorical_accuracy: 0.1670 - val_loss: 2.4179 - val_sparse_categorical_accuracy: 0.1667
Epoch 7/100
80710/80718 [============================>.] - ETA: 0s - loss: 2.4371 - sparse_categorical_accuracy: 0.1671
Epoch 00007: val_sparse_categorical_accuracy did not improve from 0.16668
80718/80718 [==============================] - 521s 6ms/step - loss: 2.4371 - sparse_categorical_accuracy: 0.1671 - val_loss: 2.4180 - val_sparse_categorical_accuracy: 0.1667
Epoch 8/100
80711/80718 [============================>.] - ETA: 0s - loss: 2.5347 - sparse_categorical_accuracy: 0.1673
Epoch 00008: val_sparse_categorical_accuracy did not improve from 0.16668
80718/80718 [==============================] - 519s 6ms/step - loss: 2.5347 - sparse_categorical_accuracy: 0.1673 - val_loss: 2.4177 - val_sparse_categorical_accuracy: 0.1667
Epoch 9/100
80710/80718 [============================>.] - ETA: 0s - loss: 2.5029 - sparse_categorical_accuracy: 0.1674
Epoch 00009: val_sparse_categorical_accuracy did not improve from 0.16668
80718/80718 [==============================] - 526s 7ms/step - loss: 2.5028 - sparse_categorical_accuracy: 0.1673 - val_loss: 2.4178 - val_sparse_categorical_accuracy: 0.1667
Epoch 10/100
80714/80718 [============================>.] - ETA: 0s - loss: 2.4185 - sparse_categorical_accuracy: 0.1671
Epoch 00010: val_sparse_categorical_accuracy did not improve from 0.16668
80718/80718 [==============================] - 526s 7ms/step - loss: 2.4185 - sparse_categorical_accuracy: 0.1671 - val_loss: 2.4179 - val_sparse_categorical_accuracy: 0.1667
Epoch 00010: early stopping

# predict

#New value

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
lr = LinearRegression()
df.head()
# targ = dataframe_f.pop('PD_CD')
traindf,testdf,Ytrain,Ytest= train_test_split(dataframe_f,targ,test_size=0.3,shuffle=True) 
lr.fit(traindf,Ytrain)
pickle.dump(lr,open('/content/drive/MyDrive/Crimes Detection/NY_crimes/PD_CD_predict.h5','wb'))
r2_score = lr.score(testdf,Ytest)
print(r2_score*100,'%')

2.3770191298599586 %

In [ ]:
test_dataframe = dataframe_f.copy()
# test_dataframe.drop(['PD_CD'],axis=1,inplace=True)
test_observation = test_dataframe.iloc[0]
loaded_model = pickle.load(open('/content/drive/MyDrive/Crimes Detection/NY_crimes/PD_CD_predict.h5', 'rb'))
PD_CD = loaded_model.predict(obser)[0][0]
print(PD_CD[0][0]+0.08)

0.3664261334378826

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
obs = np.reshape(np.array(test_observation),(test_observation.shape[0],1))
observ = pd.DataFrame(obs)
obser = observ.transpose()

In [ ]:
obs.shape

(21, 1)